<form method='POST'>

	Functie<input type='text' name='functie'>	<br />
	Uren   <input type='text' name='uren'>		<br />
	Locatie<input type='text' name='locatie'>	<br />
	<input type='submit' formaction='/verwerk' 	value='Zoek op uren'>
	<input type='submit' formaction='/locatie' 	value='Zoek op locatie'>
	<input type='submit' formaction='/functie'	value='Zoek op functie'>
	<input type='submit' formaction='/match'	value='Match me!'>

</form>