<form method='POST' action = '/match'>
	Locatie<input type='text' name='match[l1']>	<br />
	Skill<input type='text' name='match[sk']>	<br />
	Maximale afstand<input type='range' min='0' max='100' value='40' onchange="showValue(this.value)" name='match[di]'>
	<span id='range' >20</span><br />
	
	<script type='text/javascript'>
	function showValue(nv)
	{
		document.getElementById("range").innerHTML=nv;
	}
	</script>	
	<input type='submit' value='Match me!'>

</form>