<form method='POST' action = '/match'>

	Functie<input type='text' name='match[functie]'>	<br />
	Uren   <input type='text' name='match[uren]'>		<br />
	Locatie<input type='text' name='match[locatie']>	<br />
	Maximale afstand<input type='range' min='0' max='100' value='40' onchange="showValue(this.value)" name='match[afstand]'>
	<span id='range' >20</span>
	
	<script type='text/javascript'>
	function showValue(nv)
	{
		document.getElementById("range").innerHTML=nv;
	}
	</script>	
	<input type='submit' value='Match me!'>

</form>