<div class="form_div_50">
	<form method='POST' action = '/uploadform'>
		<div>
			<label for="locatie_1">Locatie: </label>
			<input type='text' id="locatie_1" name='match[l1]'>
		</div>
		<div>
			<label for="skill_1">Skill:</label>
			<input type='text' id="skill_1" name='match[sk]'><br/>
		</div>
		<div>

			<label for="afstand_1">Gewenste Maximale afstand:</label>
			<input type='text' id='afstand_1' onkeypress="return isNumberKeyLoc(event)" name='match[di]'>
		</div>
		<div>
			<label for="opleiding_chooser">Uw Hoogst genoten opleiding:</label>
			<select id="opleiding_chooser" name = 'match[edu]'>
				<option value="5">MBO</option>
				<option value="10">HBO</option>
				<option value="15">WO</option>
			</select>
		</div>
		<div>
			<label for="locatie_1">Weging locatie:</label>
			<input type='text' id='locatie_1' onkeypress="return isNumberKey(event)" name='match[lo]'>
		</div>
		<div>	
			<label for="weging_edu">Weging van educatie:</label>
			<input type='text' id='weging_edu' onkeypress="return isNumberKey(event)" name='match[ed]'>
		</div>
		<div>
		
			<label for="dvb_chooser">Gewenste Dienstverband:</label>
			<select id="dvb_chooser" name='match[dvb]'>
				<option value="full">Full time</option>
				<option value="part">Part time</option>
				<option value="detachering">Detachering/Interim</option>
				<option value="stage">Stage</option>
				<option value="bijbaan">Bijbaan</option>
				<option value="freelance">Freelance</option>
			</select><br/>
		</div>
		<div>		
			<input type='submit' value='Match me!'>
		</div>
	</form>

</div>

<div class="form_div_50">

	<form method="post" enctype='multipart/form-data') action = '/upload'>
		<div>
			<label for="file">PDF met uw CV:
			<input id="file" type='file' name='myfile'>
		</div>
		<div>
			<label for="afstand">Maximale afstand: </label>
			<input type='text' id='afstand' onkeypress="return isNumberKeyLoc(event)" name='match[di]'>
		</div>
		<div>
			<label for="dbv">Gewenst dienstverband:</label>
			<select id="dbv" name = 'match[dvb]'>
				<option value="full">Full time</option>
				<option value="part">Part time</option>
				<option value="detachering">Detachering/Interim</option>
				<option value="stage">Stage</option>
				<option value="bijbaan">Bijbaan</option>
				<option value="freelance">Freelance</option>
			</select> 
		</div>
		<div>
			<label for="locatie">Weging Locatie:</label>
			<input type='text' id='locatie' onkeypress="return isNumberKey(event)" name='match[lo]'>
		</div>
		<div>
			<label for="skill">Weging skills: </label>
			<input type='text' id='skill' onkeypress="return isNumberKey(event)" name='match[sk]'>
		</div>
		<div>
			<label for="edu">Weging Educatie:</label>
			<input type='text' id='edu' onkeypress="return isNumberKey(event)" name='match[ed]'>

		</div>
		<div>
			<input type='submit' value='Upload!' onclick="return notEmpty('afstand','locatie','skill','edu','Vul alle velden in aub.')" />
		</div>
	</form>
</div>