<h1>Nokogiri 鋸</h1>

<h3>Parse HTML</h3>
<p>
  <a href='/string'>String</a> | 
  <a href='/bestand'>Bestand</a>
</p>
<br>

<h3>Zoek XML</h3>
<p>
  <a href='/acteur'>Acteur</a> | 
  <a href='/serie'>Serie</a> | 
  <a href='/drama'>Drama</a>
</p>
<br>

<h3>Star Apple</h3>
<p>
  <a href='/functies'>Functies</a> | 
  <a href='/vacatures'>Vacatures</a>
</p>

<h3>Formulier</h3>
<p>
	<a href='/form'>Formulier</a>
	<a href='/try'>Try-out</a>
</p>
