<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jobhearted - Resultaten CV Upload</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
	<a href="form">FORM</a> <br />
	<a href="upload">UPLOAD</a> <br />
	</body>
	</html>
	