<!DOCTYPE html>
<html>
<head>
  	<title>JobHearted, de vacature vinder!</title>
  	<script src = "/javascripts/script.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<div id="header">
		<div id="logo">JobHearted</div>
		<div id="Slogan">Find the job of your dreams!</div>
	</div>
	<div id="container">
		<%= yield %>
	</div>
	<div id="footer">
		Copyright JobHearted 2014
	</div>
</body>
</html>
