<body bgcolor = "black" text = "yellow">

<table border ="3" bordercolor = "white">
<td><b>ID</b></td>
<td><b>Title</b></td>
<td><b>Plaats</b></td>
<td><b>URL</b></td>
<td><b>LocScore</b></td>
<% @b.each do |z| %>
<tr>
<td><%= z[0].vacature.id%></td>
<td><%=z[0].vacature.title%></td>
<td><%= z[0].vacature.plaats%></td>
<td> <% %> </td>
<td><%= z[1]%></td>
</tr>
<%end%>
</table>


