<!DOCTYPE html>

<head>
<script src = "/javascripts/script.js" type="text/javascript"></script>
</head>

<h1> File uploader! </h1>
<form method="post" enctype='multipart/form-data')>
<input type='file' name='myfile'> <br />
Maximale afstand <input type='text' id='afstand' onkeypress="return isNumberKeyLoc(event)" name='match[di]'> <br/>
Dienstverband<select name = 'match[dvb]'>
	<option value="full">Full time</option>
	<option value="part">Part time</option>
	<option value="detachering">Detachering/Interim</option>
	<option value="stage">Stage</option>
	<option value="bijbaan">Bijbaan</option>
	<option value="freelance">Freelance</option>
	</select> <br />
Locatiescore<input type='text' id='locatie' onkeypress="return isNumberKey(event)" name='match[lo]'> <br />
Skillscore<input type='text' id='skill' onkeypress="return isNumberKey(event)" name='match[sk]'> <br />
Educationscore<input type='text' id='edu' onkeypress="return isNumberKey(event)" name='match[ed]'> <br />
<input type='submit' value='Upload!' onclick="return notEmpty('afstand','locatie','skill','edu','Vul alle velden in aub.')">