<h3>String</h3>
<% @vacatures.each do |vacature| %>
  <p><%= vacature %></p>
<% end %>
<br>

<h3>Elementen</h3>
<% @vacatures.each do |vacature| %>
  <p><%= "#{ vacature.elements[0] } #{ vacature.elements[1]} #{ vacature.elements[2] }" %></p>
<% end %>

<h3>Ingevoerd</h3>

<% @reeks.each do |test| %>

	<p><%= test %></p>

<% end %>