body {
	background-color: rgba(0, 0, 0, 0.6);	
}

#container {
	width:1000px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	margin-top: 20px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

#header {
	height: 140px;
	width: 1000px;
	padding: 30px;
	background-color: white;
	border-radius:20px;
	margin: 0 auto;
}

#logo {
	font-size: 40px;
	font-family: Arial black;
}

#slogan {
	font-size: 20px;
	font-family: sans-serif;
}

#results_page {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	text-align:center;
}


table {
	border: 1px solid gray;
	margin: 0 auto;
	width: 800px;
}

table thead {
	background-color: black;
	color: white;
}

.form_div_50 {
	border: 2px solid black;
	width: 440px;
	padding: 25px;
	height: 320px;
	display: inline-block;
	margin-top: 30px;
	overflow: hidden;
	text-align: left;
}

input, select{ 
	float:right;
	width: 170px;
}

.form_div_50 div {
	height: 35px;
}

#footer {
	width: 1000px;
	border-radius: 20px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}